*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section{
  max-height: 50vh;
  overflow-y: auto;
  border-bottom: 2px solid #dddddd;  
}

.container{
  width: 90%;
  margin: 2rem auto;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
th{
  background-color: #dddddd;
}

.table-heading{
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

.field{
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.actions{
  width: 10%;
}